@using PharmaSky.Domain.Entities
@model List<Weather>


@{
    ViewData["Title"] = "Hava Durumu";
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>PharmaSky Hava Durumu</title>
    <meta name="description" content="PharmaSky ile güncel hava durumu bilgilerini ve 5 günlük hava tahminlerini öğrenin.">
    <meta name="keywords" content="hava durumu, hava tahmini, hava durumu sorgulama, güncel hava, sıcaklık, nem, rüzgar">

    <link href="~/lib/Kelly-1.0.0/assets/img/favicon.png" rel="icon">
    <link href="~/lib/Kelly-1.0.0/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/swiper@11.1.1/swiper-bundle.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/glightbox@3.3.0/dist/css/glightbox.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />



    <link href="~/css/homepageStyle.css" rel="stylesheet" />

    <link href="~/css/weatherpageStyle.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!--lOGİN BİLDİRİMLERİ İÇİN -->


</head>

<body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> <!--lOGİN BİLDİRİMLERİ İÇİN -->
    <!-- Partikül arka plan -->
    <div id="particles-js"></div>

    <header id="header" class="header d-flex align-items-center light-background sticky-top">
        <div class="container-fluid position-relative d-flex align-items-center justify-content-between">
            <a href="https://localhost:7291/" class="logo d-flex align-items-center me-auto me-xl-0">
                <h1 class="sitename">PharmaSky</h1>
            </a>
            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="/Home/Index"><i class="bi bi-house"></i> Anasayfa</a></li>
                    <li><a href="/Weather/Index" class="active"><i class="bi bi-cloud-sun"></i> Hava Durumu</a></li>
                    <li><a href="/Pharmacy/Index"><i class="bi bi-hospital"></i> Nöbetçi Eczane</a></li>
                </ul>
            </nav>
            @{
                // "access_token" çerezinin varlığını sunucu tarafında kontrol edin
                var accessToken = Context.Request.Cookies["access_token"];

                @if (string.IsNullOrEmpty(accessToken))
                {
                    <a href="/Login/Index" id="loginButtonContainer" class="btn-login-cta login-button-Left-Top">Giriş Yap</a>
                    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                }
                else
                {
                    <div class="dropdown">
                        <a class="nav-link nav-item dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user-circle" style="color:cornflowerblue; font-size: 35px;"></i>
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a id="userName" class="dropdown-item ">Kullanıcı Adı</a></li>
                            <li><a id="role" class="dropdown-item">Yetki</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/Login/Logout">Çıkış Yap</a></li>
                        </ul>
                    </div>
                }
            }

        </div>

    </header>

    <main class="main">

        <section id="weather-section" class="weather section ">

            <div class="container" data-aos="fade-up">

                <div class="row justify-content-center">

                    <div class="col-lg-8">
                        <div class="weather-search-box text-center mb-5">

                            <h2>Hava Durumu</h2>
                            <p>Öğrenmek istediğiniz şehrin adını girin.</p>
                            <div class="input-group">
                                <input type="text" id="cityInput" class="form-control" placeholder="Örn: İstanbul, Ankara">
                                <button class="btn btn-primary" id="searchButton">Ara</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="weather-info" class="row mt-4 d-none" data-aos="fade-up" data-aos-delay="200">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="card weather-card text-center">
                            @*   @foreach (var item in Model)
                            { 
                              <div class="card-body">
                                    <h3 id="cityName" class="card-title">@item.City</h3>
                                <div class="weather-icon my-3">
                                        <img id="weatherIcon" src="https://openweathermap.org/img/wn/04d@2x.png" alt="Hava Durumu İkonu" class="img-fluid">
                                </div>
                                   <h1 id="temperature" class="display-1 fw-bold">@item.Temperature °C</h1>
                               
                                <p id="weatherDescription" class="fs-4">@item.WeatherDescription</p>
                                <div class="row">
                                    <div class="col-4">
                                        <div class="weather-details">
                                            <i class="bi bi-thermometer-half"></i>
                                            <p><span id="feelsLike"></span>@item.WeatherPerceived °C</p>
                                            <small>Hissedilen</small>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="weather-details">
                                            <i class="bi bi-droplet"></i>
                                            <p><span id="humidity"></span>@item.Humidity %</p>
                                            <small>Nem</small>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="weather-details">
                                            <i class="bi bi-wind"></i>
                                            <p><span id="windSpeed"></span>@item.Wind km/s</p>
                                            <small>Rüzgar</small>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            }  *@





                            <div class="card-body">
                                <h3 id="cityName" class="card-title"></h3>
                                <div class="weather-icon my-3">
                                    <img id="weatherIcon" src="https://openweathermap.org/img/wn/04d@2x.png" alt="Hava Durumu İkonu" class="img-fluid">
                                </div>
                                <h1 id="temperature" class="display-1 fw-bold"></h1>

                                <p id="weatherDescription" class="fs-4"></p>
                                <div class="row">
                                    <div class="col-4">
                                        <div class="weather-details">
                                            <i class="bi bi-thermometer-half"></i>
                                            <p><span id="feelsLike"></span></p>
                                            <small>Hissedilen</small>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="weather-details">
                                            <i class="bi bi-droplet"></i>
                                            <p><span id="humidity"></span></p>
                                            <small>Nem</small>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="weather-details">
                                            <i class="bi bi-wind"></i>
                                            <p><span id="windSpeed"></span></p>
                                            <small>Rüzgar</small>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div id="forecast-info" class="row mt-5 d-none" data-aos="fade-up" data-aos-delay="400">
                    <div class="col-12">
                        <h4 class="text-center mb-4">5 Günlük Tahmin</h4>
                        <div id="forecast-container" class="row" style="margin-left:140px;">
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </main>

    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>

    <script src="~/js/weatherpageScript.js"></script>
    <script src="~/js/homepageScript.js"></script>
</body>
</html>